.navbar {
    background: linear-gradient(rgba(255,192,44,1) 0%, rgba(255,27,93,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
}

.link:link { text-decoration: none; }
.link:visited { text-decoration: none; }
.link:hover { text-decoration: none; }
.link:active { text-decoration: none; }

html, body{
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;
}

body {
    padding-bottom: 80px;
}

.header {
    position:relative; 
    left:10px;
    font-size: 48px;
    font-weight: bold;
}

b {
    font-size: 20px;
}

footer{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    bottom:0px;
}

.footer {
    position: absolute;
    bottom: 0px;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    margin: 1%;
}

.articulo {
    display: inline-block;
    height: 400px;
    width: 200px;
    padding: 10px  10px;
    margin: 5px;
    background: linear-gradient(rgba(255,192,44,1) 0%, rgba(255,27,93,1) 100%);
    border-radius: 16% / 8%;
}

.exis {
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, #6990c4, rgb(33, 71, 197));
    color: #fff;
    box-shadow: 3px 3px #666;
}

.exis:active {
    box-shadow: 0px 0px;
}

.add {
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, #B7D373, #3FA848);
    color: #fff;
    box-shadow: 3px 3px #666;
}

.add:active {
    box-shadow: 0px 0px;
}

.del {
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, #eb4f44, #ff2525);
    color: #fff;
    box-shadow: 3px 3px #666;
}

.del:active {
    box-shadow: 0px 0px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    max-width: 200px;
    overflow: hidden;
}

.desc {
    overflow: hidden;
}

.informacion {
    position: absolute;
    margin: auto;
    width: 16%;
    padding-top: 15%;
    text-align: center;
}

.fixed-btn{
    position: fixed;
    bottom: 10%;
    right: 3%;
    background: #bf2a5e;
    width: 5%;
    height: 9.5%;
    text-align: center;
    line-height: normal;
    border-radius: 100%;
    box-shadow: 4px 4px 4px #57182e;
    cursor: pointer;
}

.fixed-btn:active{
    box-shadow: 0  0;
}

.carrito{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: linear-gradient(0deg,  rgba(7, 0, 211, 1) 0%, rgb(45, 163, 226) 100%);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track:vertical {
    background:  linear-gradient(0deg,  rgba(7, 0, 211, 1) 0%, rgb(45, 163, 226) 100%);
}

::-webkit-scrollbar-track:horizontal {
    background:  linear-gradient(to left,  rgba(7, 0, 211, 1) 0%, rgb(45, 163, 226) 100%);
}

::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

table:not(#footer):not(.navbar):not(.metodo){
    background: linear-gradient(rgba(255,192,44,1) 0%, rgba(255,27,93,1) 100%);
    background-repeat: no-repeat;
    border-radius: 20px / 20px;
    padding: 3%;
    background-size: 100% 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=button]:not(.link) {
    border-radius: 10px;
    box-shadow: 3px 3px #444;
    border: 0;
}

.btn:not(.link){
    position: relative;
    margin-top: 10px;
    left: 47%;
}

i{
    margin-left: -30px; 
    cursor: pointer;
}